:host-context(body:not(.ion-palette-dark)) {
  ion-content {
    --background: var(--ion-color-light);
  }
}

ion-datetime {
  margin: 0 auto;
}

ion-item:has(ion-datetime) {
  --ripple-color: transparent;
  --background-hover-opacity: 0;
}
