ion-input {
  margin: 0 0 12px 0;
}

ion-item {
  --padding-start: 0;
}

ion-item > ion-label {
  white-space: normal;
}

.conditions-text {
  margin: 24px 0px;
  font-size: 12px;
  text-align: center;
}
