{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.page.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.json",
      "options": {
        "printWidth": 1
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports"],
  "quoteProps": "as-needed",
  "semi": true,
  "trailingComma": "all"
}
