<ion-tabs>
  <ion-tab-bar id="tabbar" slot="bottom">
    <ion-tab-button tab="home" (click)="onNavigateToHomePage()">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{
        "domain.tabs.page.tabs.button.home" | transloco
      }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vehicles" (click)="onNavigateToVehicleListPage()">
      <ion-icon name="train"></ion-icon>
      <ion-label>{{
        "domain.tabs.page.tabs.button.vehicles" | transloco
      }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" (click)="onNavigateToSettingsPage()">
      <ion-icon name="cog"></ion-icon>
      <ion-label>{{
        "domain.tabs.page.tabs.button.settings" | transloco
      }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
