<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{
      "domain.settings.page.settings.title" | transloco
    }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        "domain.settings.page.settings.title" | transloco
      }}</ion-title>
    </ion-toolbar>
  </ion-header>
  @if (isUpdateAvailable$ | async) {
    <ion-list [inset]="true">
      <ion-item button detail="true" (click)="presentUpdateAvailableAlert()">
        <ion-icon name="arrow-up-circle-outline" slot="start"></ion-icon>
        <ion-label>{{
          "domain.settings.page.settings.button.updateAvailable" | transloco
        }}</ion-label>
      </ion-item>
    </ion-list>
  }
  @if ((hasActiveEntitlement$ | async) === false) {
    <ion-list [inset]="true">
      <ion-item button detail="true" (click)="onPresentPurchaseModal()">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>{{
          "domain.settings.page.settings.button.purchase" | transloco
        }}</ion-label>
      </ion-item>
    </ion-list>
  }
  <ion-list [inset]="true">
    <!-- <ion-item button detail="false" (click)="onPresentLanguageActionSheet()">
      <ion-icon name="language" slot="start"></ion-icon>
      <ion-label>{{
        "domain.settings.page.settings.button.language" | transloco
      }}</ion-label>
      <ion-label slot="end">{{
        language$ | async | languageName | async
      }}</ion-label>
    </ion-item> -->
    <ion-item button detail="false" (click)="onPresentModeActionSheet()">
      <ion-icon name="phone-portrait" slot="start"></ion-icon>
      <ion-label>{{
        "domain.settings.page.settings.button.mode" | transloco
      }}</ion-label>
      <ion-label slot="end">{{ mode$ | async | modeName | async }}</ion-label>
    </ion-item>
    <ion-item button detail="false" (click)="onPresentThemeActionSheet()">
      <ion-icon name="sunny" slot="start"></ion-icon>
      <ion-label>{{
        "domain.settings.page.settings.button.theme" | transloco
      }}</ion-label>
      <ion-label slot="end">{{ theme$ | async | themeName | async }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    @if (privacyPolicyUrl) {
      <ion-item button detail="true" [appOpenUrl]="privacyPolicyUrl">
        <ion-icon name="document-text" slot="start"></ion-icon>
        <ion-label>{{
          "domain.settings.page.settings.button.privacy" | transloco
        }}</ion-label>
      </ion-item>
    }
    @if (termsOfServiceUrl) {
      <ion-item button detail="true" [appOpenUrl]="termsOfServiceUrl">
        <ion-icon name="document-text" slot="start"></ion-icon>
        <ion-label>{{
          "domain.settings.page.settings.button.terms" | transloco
        }}</ion-label>
      </ion-item>
    }
    <ion-item button detail="true" [appOpenUrl]="licensesUrl">
      <ion-icon name="document-text" slot="start"></ion-icon>
      <ion-label>{{
        "domain.settings.page.settings.button.licenses" | transloco
      }}</ion-label>
    </ion-item>
  </ion-list>
  @if (feedbackEmailAddress) {
    <ion-list [inset]="true">
      <ion-item
        button
        [detail]="true"
        [lines]="'none'"
        (click)="onSubmitFeedback(feedbackEmailAddress)"
      >
        <ion-icon name="chatbox" slot="start"></ion-icon>
        <ion-label>{{
          "domain.settings.page.settings.button.feedback" | transloco
        }}</ion-label>
      </ion-item>
    </ion-list>
  }
  <ion-list [inset]="true">
    <ion-item
      [button]="isNative$ | async"
      [detail]="isNative$ | async"
      (click)="onPresentVersionActionSheet()"
    >
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label
        >{{ "domain.settings.page.settings.label.version" | transloco }}
        {{ version }} ({{ changeset }})
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
