<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "domain.home.page.home.title" | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        "domain.home.page.home.title" | transloco
      }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{
        "domain.home.page.home.card.notice.title" | transloco
      }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <p>
        Willkommen bei RailDepot - der App für die Verwaltung deiner Modellbahn.
      </p> -->
      <p>
        {{ "domain.home.page.home.card.notice.message" | transloco }}
      </p>
    </ion-card-content>
    <ion-item
      button
      [detail]="true"
      [lines]="'none'"
      (click)="onSendFeedback()"
    >
      <ion-icon name="chatbox" slot="start"></ion-icon>
      <ion-label>{{
        "domain.home.page.home.card.notice.button.feedback" | transloco
      }}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
