<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="'/vehicles'"
        [text]="'Zurück'"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{
      vehicleId
        ? ("domain.vehicles.page.upsert.title.edit" | transloco)
        : ("domain.vehicles.page.upsert.title.create" | transloco)
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!form.valid || !form.dirty" (click)="onSubmit()"
        >Speichern</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        vehicleId
          ? ("domain.vehicles.page.upsert.title.edit" | transloco)
          : ("domain.vehicles.page.upsert.title.create" | transloco)
      }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @if (imagesFormControl.value ?? [] | undeletedFiles; as images) {
      <ion-list [inset]="true">
        @if (images[0]; as firstImage) {
          <ion-item
            class="thumbnail-item"
            (click)="onPresentEditImageActionSheet(firstImage)"
          >
            <ion-img [src]="firstImage | fileSource | async"></ion-img>
          </ion-item>
        } @else {
          <ion-item button (click)="onPickImage()" [detail]="false">
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>{{
              "domain.vehicles.page.upsert.button.image.add" | transloco
            }}</ion-label>
          </ion-item>
        }
      </ion-list>
    }
    <ion-list [inset]="true">
      <ion-item>
        <ion-input
          formControlName="name"
          [label]="'domain.vehicles.page.upsert.label.name' | transloco"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="additionalName"
          [label]="
            'domain.vehicles.page.upsert.label.additionalName' | transloco
          "
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="inventoryNumber"
          [label]="
            'domain.vehicles.page.upsert.label.inventoryNumber' | transloco
          "
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="quantity"
          [label]="'domain.vehicles.page.upsert.label.quantity' | transloco"
          labelPlacement="floating"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select
          formControlName="category"
          [label]="'domain.vehicles.page.upsert.label.category' | transloco"
          labelPlacement="floating"
        >
          @for (item of categories | keyvalue: originalOrder; track item) {
            <ion-select-option [value]="item.value">{{
              item.value | vehicleCategory | async
            }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="type"
          [label]="'domain.vehicles.page.upsert.label.type' | transloco"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="company"
          [label]="'domain.vehicles.page.upsert.label.company' | transloco"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="classNumber"
          [label]="'domain.vehicles.page.upsert.label.classNumber' | transloco"
          labelPlacement="floating"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="serialNumber"
          [label]="'domain.vehicles.page.upsert.label.serialNumber' | transloco"
          labelPlacement="floating"
          type="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="uic"
          [label]="'domain.vehicles.page.upsert.label.uic' | transloco"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          formControlName="note"
          [label]="'domain.vehicles.page.upsert.label.note' | transloco"
          labelPlacement="floating"
          [counter]="true"
          [maxlength]="1000"
          [autoGrow]="true"
        ></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list [inset]="true">
      <ion-accordion-group formGroupName="model">
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label>{{
              "domain.vehicles.page.upsert.label.model.title" | transloco
            }}</ion-label>
          </ion-item>
          <div slot="content">
            <ion-item>
              <ion-input
                formControlName="manufacturer"
                [label]="
                  'domain.vehicles.page.upsert.label.model.manufacturer'
                    | transloco
                "
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="articleNumber"
                [label]="
                  'domain.vehicles.page.upsert.label.model.articleNumber'
                    | transloco
                "
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="serialNumber"
                [label]="
                  'domain.vehicles.page.upsert.label.model.serialNumber'
                    | transloco
                "
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-select
                formControlName="gauge"
                [label]="
                  'domain.vehicles.page.upsert.label.model.gauge' | transloco
                "
                labelPlacement="floating"
              >
                @for (item of gauges | keyvalue: originalOrder; track item) {
                  <ion-select-option [value]="item.value">{{
                    item.value | vehicleGauge
                  }}</ion-select-option>
                }
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-select
                formControlName="epoch"
                [label]="
                  'domain.vehicles.page.upsert.label.model.epoch' | transloco
                "
                labelPlacement="floating"
              >
                @for (item of epochs | keyvalue: originalOrder; track item) {
                  <ion-select-option [value]="item.value">{{
                    item.value | vehicleEpoch | async
                  }}</ion-select-option>
                }
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="weight"
                [label]="
                  'domain.vehicles.page.upsert.label.model.weight' | transloco
                "
                labelPlacement="floating"
                type="number"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="length"
                [label]="
                  'domain.vehicles.page.upsert.label.model.length' | transloco
                "
                labelPlacement="floating"
                type="number"
              ></ion-input>
            </ion-item>
            <ion-item button (click)="onPresentVehicleModelAxlesAlert()">
              <ion-label>
                {{
                  "domain.vehicles.page.upsert.label.model.axles" | transloco
                }}
              </ion-label>
              @if (
                modelAxlesTotalFormControl.value ??
                modelAxlesPoweredFormControl.value ??
                modelAxlesTractionedFormControl.value
              ) {
                <ion-label slot="end">
                  {{ modelAxlesTotalFormControl.value ?? "-" }} /
                  {{ modelAxlesPoweredFormControl.value ?? "-" }} /
                  {{ modelAxlesTractionedFormControl.value ?? "-" }}
                </ion-label>
              }
            </ion-item>
            <ion-item>
              <ion-toggle formControlName="hasSound">{{
                "domain.vehicles.page.upsert.label.model.hasSound" | transloco
              }}</ion-toggle>
            </ion-item>
            <ion-item>
              <ion-toggle formControlName="hasLight">{{
                "domain.vehicles.page.upsert.label.model.hasLight" | transloco
              }}</ion-toggle>
            </ion-item>
            <ion-item>
              <ion-toggle formControlName="hasSmoke">{{
                "domain.vehicles.page.upsert.label.model.hasSmoke" | transloco
              }}</ion-toggle>
            </ion-item>
            <ion-item>
              <ion-toggle formControlName="hasOriginalBox">{{
                "domain.vehicles.page.upsert.label.model.hasOriginalBox"
                  | transloco
              }}</ion-toggle>
            </ion-item>
            <ion-item>
              <ion-toggle formControlName="isLimited">{{
                "domain.vehicles.page.upsert.label.model.isLimited" | transloco
              }}</ion-toggle>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    <ion-list [inset]="true">
      <ion-accordion-group formGroupName="digital">
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label>{{
              "domain.vehicles.page.upsert.label.digital.title" | transloco
            }}</ion-label>
          </ion-item>
          <div slot="content">
            <ion-item>
              <ion-input
                formControlName="decoderName"
                [label]="
                  'domain.vehicles.page.upsert.label.digital.decoder'
                    | transloco
                "
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <!-- <ion-item>
                    <ion-input
                [label]="
                  'domain.vehicles.page.upsert.label.digital.interface' | transloco
                "
                      labelPlacement="floating"
                    ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-input
                [label]="
                  'domain.vehicles.page.upsert.label.digital.protocol' | transloco
                "
                      labelPlacement="floating"
                    ></ion-input>
                  </ion-item> -->
            <ion-item>
              <ion-input
                formControlName="decoderAddress"
                [label]="
                  'domain.vehicles.page.upsert.label.digital.address'
                    | transloco
                "
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <!-- <ion-item
              button
              [detail]="true"
              (click)="presentVehicleDigitalActionListModal()"
            >
              <ion-label>{{
                "domain.vehicles.page.upsert.label.digital.actions" | transloco
              }}</ion-label>
              <ion-note slot="end">{{
                digitalActionsFormControl.value?.length ?? 0
              }}</ion-note>
            </ion-item> -->
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    <ion-list [inset]="true">
      <ion-accordion-group formGroupName="purchase">
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label>{{
              "domain.vehicles.page.upsert.label.purchase.title" | transloco
            }}</ion-label>
          </ion-item>
          <div slot="content">
            <ion-item
              [detail]="!purchaseDateFormControl.value"
              (click)="onOpenPurchaseDateModal()"
            >
              <ion-label>{{
                "domain.vehicles.page.upsert.label.purchase.date" | transloco
              }}</ion-label>
              <ion-datetime-button
                [style.visibility]="
                  purchaseDateFormControl.value ? 'visible' : 'hidden'
                "
                datetime="datetime"
              ></ion-datetime-button>
              <ion-modal
                [keepContentsMounted]="true"
                [isOpen]="isPurchaseDateModalOpen"
                (didDismiss)="onClosePurchaseDateModal()"
              >
                <ng-template>
                  <ion-datetime
                    #datetime
                    formControlName="date"
                    id="datetime"
                    presentation="date"
                  >
                    <ion-buttons slot="buttons">
                      <ion-button
                        color="danger"
                        (click)="
                          datetime.reset();
                          datetime.cancel(true);
                          onDeletePurchaseDate()
                        "
                        >{{
                          "domain.vehicles.page.upsert.button.purchase.date.delete"
                            | transloco
                        }}</ion-button
                      >
                      <ion-button
                        color="primary"
                        (click)="datetime.cancel(true)"
                      >
                        {{
                          "domain.vehicles.page.upsert.button.purchase.date.cancel"
                            | transloco
                        }}
                      </ion-button>
                      <ion-button
                        color="primary"
                        (click)="datetime.confirm(true)"
                      >
                        {{
                          "domain.vehicles.page.upsert.button.purchase.date.confirm"
                            | transloco
                        }}
                      </ion-button>
                    </ion-buttons>
                  </ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="location"
                [label]="
                  'domain.vehicles.page.upsert.label.purchase.location'
                    | transloco
                "
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="price"
                [label]="
                  'domain.vehicles.page.upsert.label.purchase.price' | transloco
                "
                labelPlacement="floating"
                type="number"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="msrp"
                [label]="
                  'domain.vehicles.page.upsert.label.purchase.msrp' | transloco
                "
                labelPlacement="floating"
                type="number"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="invoiceNumber"
                [label]="
                  'domain.vehicles.page.upsert.label.purchase.invoiceNumber'
                    | transloco
                "
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            @if (
              purchaseInvoicesFormControl.value ?? [] | undeletedFiles;
              as invoices
            ) {
              <ion-item
                *appLet="invoices[0] as firstInvoice"
                button
                (click)="
                  firstInvoice
                    ? onPresentEditInvoiceActionSheet(firstInvoice)
                    : onPickInvoice()
                "
              >
                <ion-label>
                  {{
                    "domain.vehicles.page.upsert.label.purchase.invoice"
                      | transloco
                  }}
                </ion-label>
                @if (firstInvoice) {
                  <ion-label slot="end">
                    {{ firstInvoice.name }}
                  </ion-label>
                }
              </ion-item>
            }
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    <ion-list [inset]="true">
      <ion-accordion-group formGroupName="storage">
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-label>{{
              "domain.vehicles.page.upsert.label.storage.title" | transloco
            }}</ion-label>
          </ion-item>
          <div slot="content">
            <ion-item>
              <ion-input
                formControlName="storageLocation"
                [label]="
                  'domain.vehicles.page.upsert.label.storage.storageLocation'
                    | transloco
                "
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                formControlName="installationLocation"
                [label]="
                  'domain.vehicles.page.upsert.label.storage.installationLocation'
                    | transloco
                "
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-select
                formControlName="condition"
                [label]="
                  'domain.vehicles.page.upsert.label.storage.condition'
                    | transloco
                "
                labelPlacement="floating"
              >
                @for (
                  item of conditions | keyvalue: originalOrder;
                  track item
                ) {
                  <ion-select-option [value]="item.value">{{
                    item.value | vehicleCondition | async
                  }}</ion-select-option>
                }
              </ion-select>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    @if (this.vehicleId) {
      <div class="ion-padding-horizontal">
        <ion-button
          expand="block"
          fill="clear"
          color="danger"
          (click)="onPresentDeleteVehicleAlert()"
        >
          {{ "domain.vehicles.page.upsert.button.delete" | transloco }}
        </ion-button>
      </div>
    }
  </form>
</ion-content>
