<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "domain.login.page.login.title" | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        "domain.login.page.login.title" | transloco
      }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="onSignInWithEmailAndPassword()">
      <ion-input
        [label]="'domain.login.page.login.label.email' | transloco"
        label-placement="stacked"
        fill="solid"
        formControlName="email"
      ></ion-input>
      <ion-input
        [label]="'domain.login.page.login.label.password' | transloco"
        label-placement="stacked"
        fill="solid"
        type="password"
        [minlength]="6"
        formControlName="password"
      ></ion-input>
      <div class="forgot-password-wrapper">
        <ion-button fill="clear" (click)="onNavigateToForgotPasswordPage()">
          {{ "domain.login.page.login.button.forgot" | transloco }}
        </ion-button>
      </div>
      <ion-button
        [disabled]="!form.valid"
        expand="block"
        fill="solid"
        type="submit"
      >
        {{ "domain.login.page.login.button.login" | transloco }}
      </ion-button>
    </form>
    <ion-button
      expand="block"
      fill="clear"
      (click)="onNavigateToRegisterPage()"
    >
      {{ "domain.login.page.login.button.register" | transloco }}
    </ion-button>
    <div class="separator-wrapper">
      <div class="separator"></div>
      <div class="separator-text">
        {{ "domain.login.page.login.label.separator" | transloco }}
      </div>
      <div class="separator"></div>
    </div>
    <ion-button
      expand="block"
      fill="solid"
      class="apple"
      (click)="onSignInWithApple()"
    >
      <img src="assets/images/apple-logo.svg" />
      <span>{{ "domain.login.page.login.button.apple" | transloco }}</span>
    </ion-button>
    <ion-button
      expand="block"
      fill="solid"
      class="google"
      (click)="onSignInWithGoogle()"
    >
      <img src="assets/images/google-logo.svg" />
      <span>{{ "domain.login.page.login.button.google" | transloco }}</span>
    </ion-button>
    <div class="conditions-text">
      {{ "domain.login.page.login.label.conditions.start" | transloco }}
      <a [appOpenUrl]="termsOfServiceUrl">{{
        "domain.login.page.login.label.conditions.terms" | transloco
      }}</a>
      {{ "domain.login.page.login.label.conditions.and" | transloco }}
      <a [appOpenUrl]="privacyPolicyUrl">{{
        "domain.login.page.login.label.conditions.privacy" | transloco
      }}</a>
      {{ "domain.login.page.login.label.conditions.end" | transloco }}
    </div>
  </div>
</ion-content>
