<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/login"
        [text]="'core.button.back' | transloco"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{
      "domain.forgotPassword.page.forgotPassword.title" | transloco
    }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        "domain.forgotPassword.page.forgotPassword.title" | transloco
      }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="onSendPasswordResetEmail()">
      <ion-input
        [label]="
          'domain.forgotPassword.page.forgotPassword.label.email' | transloco
        "
        label-placement="stacked"
        fill="solid"
        formControlName="email"
      ></ion-input>
      <ion-button
        [disabled]="!form.valid"
        expand="block"
        fill="solid"
        type="submit"
      >
        {{
          "domain.forgotPassword.page.forgotPassword.button.reset" | transloco
        }}
      </ion-button>
    </form>
  </div>
</ion-content>
